<ul class="list-group">
  <Li
  
    routerLink="/products"
    [class]="getAllCategoryClass()"
  >
    Tüm Ürünler
  </Li>
  <li
    (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{ category.categoryId }}"
    *ngFor="let category of categories"
    [class]="getCurrentCategoryClass(category)"
  >
    {{ category.categoryName }}
  </li>
</ul>

<!-- currentCategory defined ise yani veri var ise göster undifend ise hataya düşmemek adına gösterme -->
<h5 *ngIf="currentCategory">
  {{ currentCategory.categoryName }}
</h5>
