<table  class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category Id</th>
      <th scope="col">Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td scope="row">{{ product.productId }}</td>
      <td scope="row">{{ product.productName }}</td>
      <td scope="row">{{ product.categoryId }}</td>
      <td scope="row">{{ product.unitPrice }}</td>
    </tr>
  </tbody>
</table>
