<!-- Welcome to {{title}}
<br>
Hello {{user}}
<br>

<ul>
  <li *ngFor="let product of products"> {{product.productName}}</li>
</ul> -->

<!--
     <li *ngFor="let product of products"> {{product.productName}}</li>
    ile for dongüsü yapmış oluyoruz
     ngFor ngIf directiftir.
     component isimleri tekil olur. product car user
--> 

<!-- Komponent ağacı diğer komponentleri bu app-componentin içine ekleyerek. -->

<app-navi></app-navi>
<app-category></app-category>
<app-product></app-product>


<router-outlet></router-outlet>